.terraform
.terragrunt-cache

notifier/__pycache__
notifier/venv
notifier/bin

notifier/argparse*
notifier/boto*
notifier/certifi*
notifier/chardet*
notifier/dateutil
notifier/docutils*
notifier/idna*
notifier/jmespath*
notifier/prettytable*
notifier/python_dateutil*
notifier/pytz*
notifier/requests*
notifier/s3transfer*
notifier/six*
notifier/urllib3*
